{% extends 'marketplace/includes/header.html' %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#btn10').click(function () {
                window.location.href = '?c=' + $('#btn10').html();
            });
            $('#btn15').click(function () {
                window.location.href = '?c=' + $('#btn15').html();
            });
            $('#btn20').click(function () {
                window.location.href = '?c=' + $('#btn20').html();
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        {% if latest_post_list %}
            <div class="col-md-12 col-sm-12">
                <span><h4 style="display: inline;">Number of items to display: </h4></span>
                <div class="btn-group" role="group" style="margin-bottom: 10px;">
                    <button id="btn10" type="button" class="btn btn-default">10</button>
                    <button id="btn15" type="button" class="btn btn-default">15</button>
                    <button id="btn20" type="button" class="btn btn-default">20</button>
                </div>
            </div>
            <div class="row">
                {% for post in latest_post_list %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                            <div class="caption" style="height: 120px;">
                                <h3 class="panel-title"><a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                                <p><small>Tags:
                                    {% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}
                                </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{ post.name }} {% if user.is_authenticated %}<a class="btn btn-primary" href="{% url 'marketplace:makeoffer' post.id %}">Make an Offer!</a>{% endif %}</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                                </div>
                                <div class="modal-footer" style="text-align: left">
                                    <h4><strong>Quantity</strong></h4>
                                    <p>{{ post.quantity }}</p>
                                    <h4><strong>Condition</strong></h4>
                                    <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                    <h4><strong>Type</strong></h4>
                                    <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                    {% if post.course %}
                                        <h4><strong>Course</strong></h4>
                                        <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                    {% endif %}
                                    <h4><strong>Tags</strong></h4>
                                    <p>{% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}</p>
                                    <h4><strong>User</strong></h4>
                                    <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                        {{ post.user }}
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <nav aria-label="Pagination">
                <ul class="pager">
                    {% if latest_post_list.has_previous %}
                        <li class="previous"><a href="?page={{ latest_post_list.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
                    {% else %}
                        <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Newer</a></li>
                    {% endif %}
                    <span class="alert alert-info">
                        {{ latest_post_list.number }} of {{ latest_post_list.paginator.num_pages }}
                    </span>
                    {% if latest_post_list.has_next %}
                        <li class="next"><a href="?page={{ latest_post_list.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>
                    {% else %}
                         <li class="next disabled"><a>Older <span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
            </nav>

        {% else %}
            <div class="alert-danger">No posts are available.</div>
        {% endif %}
    </div>
{% endblock %}