{% extends 'marketplace/includes/header.html' %}

{% block script %}
    <script>
        $(document).ready(function () {
            var loadbtn = $('#loadmore');
            var postcount = {{ latest_post_list|length }};
            var itemcount = $('#itemcount');
            var post10 = $('#posts_10');
            var post15 = $('#posts_15');
            var post20 = $('#posts_20');
            loadbtn.hide();
            post15.hide();
            post20.hide();

            if (postcount > itemcount.val())
                loadbtn.show();

            itemcount.change(function () {
                if (itemcount.val() == 10){
                    post10.show();
                    post15.hide();
                    post20.hide();
                    if (postcount > itemcount.val())
                        loadbtn.show();
                    else
                        loadbtn.hide();
                }
                else if (itemcount.val() == 15){
                    post10.hide();
                    post15.show();
                    post20.hide();
                    if (postcount > itemcount.val())
                        loadbtn.show();
                    else
                        loadbtn.hide();
                }
                else if (itemcount.val() == 20){
                    post10.hide();
                    post15.hide();
                    post20.show();
                    if (postcount > itemcount.val())
                        loadbtn.show();
                    else
                        loadbtn.hide();
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        {% if latest_post_list %}
            <div class="col-md-12 col-sm-12">
                <label for="itemcount">Number of items to display: </label>
                <select id="itemcount" style="margin-bottom: 10px;">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div id="posts_10" class="row">
                {% for post in latest_post_list|slice:':10' %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                            <div class="caption" style="height: 120px;">
                                <h3 class="panel-title"><a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                                <p><small>Tags:
                                    {% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}
                                </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{ post.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                                </div>
                                <div class="modal-footer" style="text-align: left">
                                    <h4><strong>Quantity</strong></h4>
                                    <p>{{ post.quantity }}</p>
                                    <h4><strong>Condition</strong></h4>
                                    <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                    <h4><strong>Type</strong></h4>
                                    <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                    {% if post.course %}
                                        <h4><strong>Course</strong></h4>
                                        <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                    {% endif %}
                                    <h4><strong>Tags</strong></h4>
                                    <p>{% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}</p>
                                    <h4><strong>User</strong></h4>
                                    <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                        {{ post.user }}
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="posts_15" class="row">
                {% for post in latest_post_list|slice:':15' %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#2postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                            <div class="caption" style="height: 120px;">
                                <h3 class="panel-title"><a data-toggle="modal" data-target="#2postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                                <p><small>Tags:
                                    {% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}
                                </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="2postModal{{ post.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{ post.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                                </div>
                                <div class="modal-footer" style="text-align: left">
                                    <h4><strong>Quantity</strong></h4>
                                    <p>{{ post.quantity }}</p>
                                    <h4><strong>Condition</strong></h4>
                                    <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                    <h4><strong>Type</strong></h4>
                                    <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                    {% if post.course %}
                                        <h4><strong>Course</strong></h4>
                                        <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                    {% endif %}
                                    <h4><strong>Tags</strong></h4>
                                    <p>{% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}</p>
                                    <h4><strong>User</strong></h4>
                                    <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                        {{ post.user }}
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="posts_20" class="row">
                {% for post in latest_post_list|slice:':20' %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a data-toggle="modal" data-target="#3postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                            <div class="caption" style="height: 120px;">
                                <h3 class="panel-title"><a data-toggle="modal" data-target="#3postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                                <p><small>Tags:
                                    {% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}
                                </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="3postModal{{ post.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">{{ post.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                                </div>
                                <div class="modal-footer" style="text-align: left">
                                    <h4><strong>Quantity</strong></h4>
                                    <p>{{ post.quantity }}</p>
                                    <h4><strong>Condition</strong></h4>
                                    <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                    <h4><strong>Type</strong></h4>
                                    <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                    {% if post.course %}
                                        <h4><strong>Course</strong></h4>
                                        <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                    {% endif %}
                                    <h4><strong>Tags</strong></h4>
                                    <p>{% for t in post.tags.all %}
                                        <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                    {% endfor %}</p>
                                    <h4><strong>User</strong></h4>
                                    <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                        {{ post.user }}
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="loadmore" class="btn btn-block btn-default" style="margin-bottom:10px;">LOAD MORE</button>
        {% else %}
            <div class="alert-danger">No posts are available.</div>
        {% endif %}
    </div>
{% endblock %}