{% include 'marketplace/includes/header.html' %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Log In</h3></div>
        <div class="panel-body">
            <form role="form" method="post" >
                {% csrf_token %}
                <div class="form-group">
                    {% comment %}{% for field in form %}
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input class="form-control input-sm" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="text" placeholder="{{ field.html_name }}">
                            {{ field.errors }}
                        </div>
                    {% endfor %}{% endcomment %}
                    {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% for field in form %}
                    <div class="form-group has-errors text-danger small">
                        {{field.errors}}
                    </div>
                    <div class="form-group has-errors text-danger small">
                    </div>
                    <div class="form-group">
                        {{ field.label }}:
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Log In">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
            </form>
        </div>
    </div>
</div>