{% extends 'marketplace/includes/header.html' %}

{% block title %}
    {{ userprofile.first_name }} {{ userprofile.last_name }}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            var viewallbtn = $('#viewall');
            var post5 = $('#posts_5');
            var postall = $('#posts_all');
            var postcount = {{ latest_posts|length }};

            postall.hide();
            viewallbtn.hide();

            if (postcount > 5){
                viewallbtn.show();
            }

            viewallbtn.click(function () {
                post5.hide();
                postall.show();
                viewallbtn.hide();
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container">
        {% if error_message %}<div class="alert-danger"><strong>{{ error_message }}</strong></div>{% endif %}
        <div class="text-center panel">
            <div>
                <small>Name</small>
                <h2 style="margin-top: 0;"><strong>{{ userprofile.first_name }} {{ userprofile.last_name }}</strong></h2>
                <small>Degree or Office</small>
                <h3 style="margin-top: 0;">{{ userprofile.degree_or_office }}</h3>
            </div>
        </div>
        <h4>Latest Posts</h4>
        <div id="posts_5" class="row">
            {% for post in latest_posts|slice:':5' %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                        <div class="caption" style="height: 120px;">
                            <h3 class="panel-title"><a data-toggle="modal" data-target="#postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                            <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                {{ post.user }}
                            </a></p>
                            <p><small>Tags:
                                {% for t in post.tags.all %}
                                    <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                {% endfor %}
                            </small></p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="postModal{{ post.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ post.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                            </div>
                            <div class="modal-footer" style="text-align: left">
                                <h4><strong>Quantity</strong></h4>
                                <p>{{ post.quantity }}</p>
                                <h4><strong>Condition</strong></h4>
                                <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                <h4><strong>Type</strong></h4>
                                <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                {% if post.course %}
                                    <h4><strong>Course</strong></h4>
                                    <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                {% endif %}
                                <h4><strong>Tags</strong></h4>
                                <p>{% for t in post.tags.all %}
                                    <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                {% endfor %}</p>
                                <h4><strong>User</strong></h4>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="posts_all" class="row">
            {% for post in latest_posts %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a data-toggle="modal" data-target="#2postModal{{ post.id }}" href="javascript:void(0);"><img src="{{ post.image.url }}" style="height:200px;"></a>
                        <div class="caption" style="height: 120px;">
                            <h3 class="panel-title"><a data-toggle="modal" data-target="#2postModal{{ post.id }}" href="javascript:void(0);">{{ post.name }}</a></h3>
                            <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                {{ post.user }}
                            </a></p>
                            <p><small>Tags:
                                {% for t in post.tags.all %}
                                    <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                {% endfor %}
                            </small></p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="2postModal{{ post.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ post.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <a href="{% url 'marketplace:photo' post.id %}"><img class="center-block" src="{{ post.image.url }}" height="245px"></a>
                            </div>
                            <div class="modal-footer" style="text-align: left">
                                <h4><strong>Quantity</strong></h4>
                                <p>{{ post.quantity }}</p>
                                <h4><strong>Condition</strong></h4>
                                <p><a href="{% url 'marketplace:condresults' post.condition %}">{{ post.condition }}</a></p>
                                <h4><strong>Type</strong></h4>
                                <p><a href="{% url 'marketplace:typeresults' post.type %}">{{ post.type }}</a></p>
                                {% if post.course %}
                                    <h4><strong>Course</strong></h4>
                                    <p><a href="{% url 'marketplace:courseresults' post.course %}">{{ post.course }}</a></p>
                                {% endif %}
                                <h4><strong>Tags</strong></h4>
                                <p>{% for t in post.tags.all %}
                                    <a href="{% url 'marketplace:tagresults' t.name %}">{{ t.name }}</a>
                                {% endfor %}</p>
                                <h4><strong>User</strong></h4>
                                <p><a href="{% url 'marketplace:userdetails' post.user.id %}">
                                    {{ post.user }}
                                </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button id="viewall" class="btn btn-block btn-default" style="margin-bottom:10px;">VIEW ALL</button>
    </div>
{% endblock %}
